# =========================
# Colcon 构建产物
# =========================
build/
install/
log/

# =========================
# Python 缓存
# =========================
__pycache__/
*.pyc
*.pyo
*.egg-info/
.pytest_cache/

# =========================
# IDE / 编辑器配置
# =========================
.vscode/
.idea/
*.swp
*~
.DS_Store

# =========================
# 编译产物和二进制文件
# =========================
*.so
*.a
*.o
*.obj
*.out
*.pcd
*.db3
*.bag
*.bag.active

# =========================
# 临时文件
# =========================
*.tmp
*.bak
*.old
*_copy.*

# =========================
# 数据
# ========================
data/